# A commit.log nem kell:
commit.log

# A szokásos szükségtelen LaTeX generálmányok:
*.aux
*.log
*.out
*.pdf
*.toc

# Egyelőre nem kell nekünk a magyar.ldf a repóba:
magyar.ldf

# Most még a build scriptre sincs szükség:
build.py

# Nem akarjuk a neten a Neptun kódokat:
szerzok.inc

# Eclipse project leírók:
.project
.pydevproject

# Eclipse beállítások:
.settings

# A virtualenv könyvtárat nem commitoljuk:
venv

# Egyebek:
*.pyc

# A beállításokat nem toljuk fel a repóba:
badge_out/badge_out/settings.py

# Az adatbázis állományra nincs szükség:
badge-out.sqlite

# A fixtures-t kihagyjuk:
badge_out/badge/fixtures/*

# Nincs szükség a feltöltött badge képekre:
badge_out/media/badge_images
