# A commit.log nem kell:
commit.log

# A szokásos szükségtelen LaTeX generálmányok:
*.aux
*.log
*.out
*.pdf
*.toc

# Egyelõre nem kell nekünk a magyar.ldf a repóba:
magyar.ldf

# Most még a build scriptre sincs szükség:
build.py