{% extends "base.html" %}
{% load url from future %}

{% block title %}Badge{% endblock %}

{% block content %}

<div>
    <a href="{% url 'badge.views.badge_list_all' %}">Badge-ek listázása</a>
    <a href="{% url 'badge.views.manage_tipusok_list' %}">Típusok kezelése</a>
    <a href="{% url 'badge.views.manage_feladatok_list' %}">Feladatok kezelése</a>
    <a href="{% url 'badge.views.manage_celok_list' %}">Célok kezelése</a>
    <a href="{% url 'badge.views.stat_oktato_badge' %}">Statisztika - Oktatók által létrehozott badge-ek</a>
    <a href="/logout">Kijelentkezés</a>
</div>

{% endblock %}